body {
  padding: 30px;
}

/* Top banner using your image */
.top-banner {
    width: 100%;
    height: 230px;
    background-image: url('Bander.jpg');
    /* Replace with your image file */
    background-size: cover;
    background-position: center;
    margin-top: 40px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
